 {{> head}} 
 {{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, excepturi totam vitae est natus animi quo
                id explicabo officia odio voluptatum autem officiis. Cumque possimus corporis repudiandae sed. At, ad.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/momo.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>



{{> footer }}